.config/Mullvad VPN/
.config/nautilus/
.config/QtProject.conf
.config/balenaEtcher/
.config/FortiClient/
.config/yelp/
.config/VirtualBox/
.config/evolution/
.config/pulse/
.config/tilting-assistant/
.config/gnome-initial-setup-done
wlogout/
swaync/
transmission/
systemd/
libreoffice/
Kvantum/
Thunar/
btop-backup-*
ags/
ibus/
cava/
xfce4/

