[alias]
	s = status -s
	lg = log --oneline --decorate --all --graph
	d = diff --stat
	tags = for-each-ref --sort=taggerdate --format '%(refname) %(taggerdate)' refs/tags
	diff = diff --color-moved
	branch-name = "!git rev-parse --abbrev-ref HEAD"
	update = "!git fetch origin && git merge origin/master"
	temp = "!branch=$(git branch-name) && git checkout origin/master && git checkout -b $branch-temp"
	merge-squash = "!git merge --no-commit --squash $(git branch-name | sed -e 's/-temp$//') && git reset && git commit -a"
	replace = "!branch=$(git branch-name) && git branch -D ($branch | sed -e 's/-temp$') && git checkout -b ($branch | sed -e 's/-temp$') && git branch -D $branch"
	force-update = "!branch=$(git branch-name) && git push -f origin $branch"
	squash = "!git update && git temp && git merge-squash && git replace && git force-update"
[push]
	default = simple
[user]
	name = shane
	email = contact@shane.gg
	signingkey = D9DF703B83B9A9B5  # get from `gpg --list-keys  --with-colons`
[commit]
	gpgSign = true
[merge]
	gpgSign = true
[gpg]
	program = gpg
[diff "gpg"]
	textconv = gpg --no-tty --decrypt
	cachetextconv = false
[diff "ansible-vault"]
	textconv = ansible-vault view
	cachetextconv = false
[core]
	editor = vim
[diff]
	colorMoved = plain
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[init]
	defaultBranch = main
