[alias]
	s = status -s
	lg = log --oneline --decorate --all --graph
	d = diff --stat
	tags = for-each-ref --sort=taggerdate --format '%(refname) %(taggerdate)' refs/tags
[push]
	default = simple
[credential]
	helper = osxkeychain
[user]
	name = shane
	email = haroboy876@gmail.com
	signingkey = 5BE8D2BA7B532B75  # get from `gpg --list-keys  --with-colons`
[commit]
	gpgSign = true
[gpg]
	program = gpg2
[diff "gpg"]
	textconv = gpg2 --no-tty --decrypt
	cachetextconv = false
[diff "ansible-vault"]
	textconv = ansible-vault view
	cachetextconv = false
[core]
	editor = vim

